
services:
  # web:
  #   build: .
  #   command: npm run deploy
  #   depends_on:
  #     - db
  #     - redis
  #   environment:
  #     - DATABASE_URL=postgres://postgres:postgres@db:5432/doink
  #     - REDIS_URL=redis://redis:6379
  #     - SESSION_SECRET=secret
  #     - PORT=3000
  #     - NODE_ENV=development
  #   ports:
  #     - 3000:3000
  #   expose:
  #     - 3000
    
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: doink
    ports:
      - 5432:5432
    volumes:
      - ./data/postgres:/var/lib/postgresql/data

  redis:
    image: redis:latest
    volumes:
      - ./data/redis:/data
    ports:
      - 6379:6379  